<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.SpecialMapper">
    <select id="queryAll" resultType="special">
        select * from special LIMIT #{start},#{rows}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(id) from special
    </select>
    <insert id="add">
        insert into special values(#{id},#{title},#{score},#{author},#{announcer},#{count},
        #{content},#{status},#{time},#{upTime},#{src})
    </insert>
    <update id="updatePath">
        update special set src=#{src} where id = #{id}
    </update>
    <update id="update">
        update special set title=#{title},score=#{score},author=#{author},announcer=#{announcer},
        count=#{count},content=#{content},status=#{status},time=#{time},upTime=#{upTime} where id=#{id}
    </update>
    <delete id="del">

        DELETE from special WHERE id in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>
    <delete id="delChapter">

        DELETE from chapter WHERE special_id in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>
    <update id="updateCount">
        update special set  count = #{count} where id=#{id}
    </update>
    <select id="selectById" resultType="java.lang.Integer">
        select count from special where id=#{id}
    </select>
</mapper>